@CHARSET "UTF-8";

.news-entry {
    float: left;
    width: 100%;
}

.news-entry-next,
.news-entry-prev {
    padding: 10px 20px;
    float: left;
}

.news-entry-next {
    float: right;
}

.news-entry aside {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 30px;
}

.news-entry time {
    clear: both;
    float: left;
    font-size: 12px;
    margin-bottom: 20px;
    width: 100%;
}
