@CHARSET "UTF-8";

.news-entry {
    float: left;
    width: 100%;
}

.news-entry-next,
.news-entry-prev {
    padding: 10px 20px;
    float: left;
}

.news-entry-next {
    float: right;
}

.news-entry-date-and-author {
    margin-bottom: 20px;
}

.news-entry aside {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 30px;
}

.news-entry-time {
    font-size: 12px;
    display: block;
}


.news-entry-nav {
    margin-top: 48px;
}

.news-entry-nav-title {
    margin-bottom: 5px;
}

.news-entry-nav-list {
    padding: 0;
    list-style: none;
}

.news-entry-nav-list li {
    padding: 0;
    margin-bottom: 5px !important;
}

.news-entry-nav-active {
    font-weight: bolder;
}

.news-entry-nav-bullet {
    margin-right: 5px;
}
