.quiqqer-news-entry__meta {
    margin-bottom: 1rem;
}

.quiqqer-news-entry__short {
    font-size: var(--qui-text-lead, 1.25rem);
}

.quiqqer-news-entry__more {
    margin-top: 2rem;
}

.quiqqer-news-entry__more-heading {
    margin-bottom: 0.5rem;
}

.quiqqer-news-entry__more-list {
    padding: 0;
    list-style: none;
}

.quiqqer-news-entry__more-item {
    padding: 0;
    margin-bottom: 0.5em;
}

.quiqqer-news-entry__more-item--active {
    font-weight: bolder;
}

.quiqqer-news-entry__more-item :where(.icon) {
    margin-right: 0.5em;
}
