@CHARSET "UTF-8";

.news-entry-date-and-author {
    margin-bottom: 1rem;
}

.news-entry-time {
    font-size: 12px;
    display: block;
}


.news-entry-nav {
    margin-top: 48px;
}

.news-entry-nav-title {
    margin-bottom: o.25rem;
}

.news-entry-nav-list {
    padding: 0;
    list-style: none;
}

.news-entry-nav-list li {
    padding: 0;
    margin-bottom: 5px !important;
}

.news-entry-nav-active {
    font-weight: bolder;
}

.news-entry-nav-bullet {
    margin-right: 5px;
}
